@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #ff69b4;   
    --sec-color: #ff5490;    
    --third-color: #f87b9a;  
    --for-color: #ffc2d1;    
    --fif-color: #FDD5DF;    
    --six-color: #FAE8ED;    
    --main-text-color: #1e1818;
    --sec-text-color: #302222;
    --mainTransition: all 0.3s linear;
}

body{
    background-color: var(--for-color);
}

section{
    max-width: 700px;
    margin: auto;
}

.login{
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f3efef;
    border: 2px solid #eaeaea;
    border-radius: 2%;
}


.login h2{
    font-size: 30px;
    text-align:center;
    color: var(--main-color);
    margin: 0 auto 50px auto;
}

.username p, .password p{
    font-size: 22px;
    font-weight: 500;
    margin-left: 8px;
}

p{
    font-size: 14px;
    font-weight: 500;
}

.login input{
    width: 100%;
    margin: 10px auto;
    margin-bottom: 40px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border:none;
    border-radius: 30px;
    color: var(--third-color);
}

.login input:focus{
    outline-color: var(--main-color);
}

.login-content{
    max-width: 300px;
    margin: 30px auto;
}

.login-bottom{
    background-color: var(--fif-color);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px 30px;
}

.login-btn{
    background-color: var(--main-color);
    border: none;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    display: block;
    color: #302222;
}

.login-btn:hover{
    background-color: #f347c2;
    color: #fff;
}

.login-bottom .forgot-password {
    display: block;
    margin-top: 10px;
}

.login-bottom a{
    text-decoration: none;
    color: var(--sec-color);
    font-weight: 500;
}

.login-bottom a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

.login-bottom p {
    margin-top: 10px; 
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    margin: 50px auto;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    margin: 50px auto;
}
